# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.tweet-image-collector.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\tweet-image-collector\tweet-image-collector\.idea\.idea.tweet-image-collector\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
